.heading{
   text-align: center;
   font-size: 40px;
}

.table  {
    background-color: cadetblue;
    border: 2px solid black;
    margin: 10px auto;
    /* padding: 20px 30px; */
}


th{
    /* border: 2px solid black; */
    color: red;
    
}

td{
    color: blue;
    border: 1px solid green;
    padding: 10px 20px;

}